.root {
  background-color: #f9f9f9;
  border: 1px solid transparent;
  border-radius: var(--radius);
  display: grid;
  height: var(--clickable-height);
  place-items: center;

  &:where(:hover, :focus-visible):not([data-disabled="true"]) {
    background-color: #fff;
  }

  &[data-checked="true"] {
    background-color: #fff;
    border-color: gray;
  }

  &[data-disabled="true"] {
    color: var(--disabled-fg);
  }
}

.input {
  display: none;
}
