.root {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.status {
  text-align: center;

  &[data-disabled="true"] {
    color: var(--disabled-fg);
  }
}

.editor {
  height: calc(5 * 1.5em);
  line-height: 1.5em;
  width: 100%;
}
