.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 1rem;
}

.RaceEntryItem {
  background-color: snow;
  border-color: lightgray;
  border-style: solid none;
  border-width: 1px;
  display: grid;
  gap: 1em;
  grid-template:
    "umaName       umaName       umaName       umaClass      umaClass        "
    "raceTitle     raceTitle     raceTitle     raceTitle     raceTitle       "
    "speed         stamina       power         gut           intelligence    "
    "tadunaComment tadunaComment tadunaComment tadunaComment tadunaComment   "
    "voteRank      voteRank      expectation   expectation   expectation     "
    "commentatorComment commentatorComment commentatorComment commentatorComment commentatorComment   "
    / 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem;

  // show background color on status
  &:before {
    background-color: #f6f0f0;
    content: "";
    display: block;
    grid-area: speed / speed / intelligence / intelligence;
  }

  & > [data-area="umaName"] { grid-area: umaName; }

  & > [data-area="umaClass"] { grid-area: umaClass; }
  & > [data-area="raceTitle"] { grid-area: raceTitle; }

  & > [data-area="speed"] { grid-area: speed; }
  & > [data-area="stamina"] { grid-area: stamina; }
  & > [data-area="power"] { grid-area: power; }
  & > [data-area="gut"] { grid-area: gut; }
  & > [data-area="intelligence"] { grid-area: intelligence; }

  & > [data-area="tadunaComment"] { grid-area: tadunaComment; }

  & > [data-area="voteRank"] { grid-area: voteRank; }
  & > [data-area="expectation"] { grid-area: expectation; }

  & > [data-area="commentatorComment"] { grid-area: commentatorComment; }
}

.RaceEntryItem_status {
  text-align: center;
}
