.Select {
  cursor: default;
}

.Select_label {
  color: var(--spectrum-alias-label-text-color,var(--spectrum-global-color-gray-700));
  font-size: var(--niceListBox-SelectLabel-fontSize, var(--spectrum-global-dimension-font-size-75));
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smooth: auto;
  font-weight: var(--spectrum-global-font-weight-regular,400);
  line-height: var(--spectrum-global-font-line-height-small,1.3);
  padding: var(--spectrum-global-dimension-size-50) 0 var(--spectrum-global-dimension-size-65);
}

ul.Select_list {
  display: inline-flex;
  flex-direction: column;
  gap: 1px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  &[data-direction="horizontal"] {
    flex-direction: row;
  }
}

li.Option {
  background-color: var(--spectrum-global-color-gray-75);
  border-radius: var(--spectrum-alias-border-radius-regular,var(--spectrum-global-dimension-size-50));
  border-width: var(--spectrum-alias-border-size-thin,var(--spectrum-global-dimension-static-size-10));
  border: 1px solid transparent;
  box-sizing: border-box;
  display: grid;
  font-size: var(--spectrum-alias-font-size-default,var(--spectrum-global-dimension-font-size-100));
  font-weight: var(--spectrum-alias-body-text-font-weight,var(--spectrum-global-font-weight-regular));
  height: var(--spectrum-alias-single-line-height,var(--spectrum-global-dimension-size-400));
  margin-top: 0;
  place-items: center;
  width: 100%;

  &:where(:hover, :focus-visible):not([data-disabled="true"]) {
    background-color: var(--spectrum-global-color-gray-50);
  }

  &[data-selected="true"] {
    background-color: var(--spectrum-global-color-gray-50);
    border-color: var(--spectrum-alias-border-color,var(--spectrum-global-color-gray-400));
    color: var(--spectrum-alias-text-color,var(--spectrum-global-color-gray-800));
  }

  &[data-focusable="true"] {
    border-color: var(--spectrum-alias-border-color-mouse-focus,var(--spectrum-global-color-blue-500));
  }

  &[data-disabled="true"] {
    background-color: var(--spectrum-global-color-gray-200);
    border-color: var(--spectrum-alias-border-color-transparent,transparent);
    color: var(--spectrum-alias-text-color-disabled,var(--spectrum-global-color-gray-500));
    -webkit-text-fill-color: var(--spectrum-alias-text-color-disabled,var(--spectrum-global-color-gray-500));
  }
}
