// colors
:root {
  --base-bg: #fff;
  --base-fg: #333;
  --base-border-color: #ccc;
  --link-fg: #00c;
  --link-hover-fg: #c00;
  --theme-bg: #036;
  --theme-fg: #fff;
}

// sizes
:root {
  --font-medium: 1rem;
  font-size: 16px;
}
