.root {
  position: relative;
}

.bar {
  display: grid;
  grid-template-rows: repeat(4, 25px) repeat(6, 50px) repeat(5, 25px);
  height: 600px;
  width: 30px;

  // levels:
  // - 1150: SS+
  // - 1100: SS
  // - 1050: S+
  // - 1000: S
  // - ...
  // - 900: A+
  // - ...
  // - 800: A
  // - ...
  // - 700: B+
  // - ...
  // - 600: B
  // - ...
  // - 500: C+
  // - ...
  // - 400: C
  // - 350: D+
  // - 300: D
  // - 250: E+
  // - 200: E
  // - 150: F+
  // - 100: F
}

.innerBar {
  display: grid;
  font-size: 10px;
  place-items: end start;

  &[data-level="S"] { background-color: gold; }
  &[data-level="A"] { background-color: orange; }
  &[data-level="B"] { background-color: tomato; }
  &[data-level="C"] { background-color: greenyellow; }
  &[data-level="D"] { background-color: skyblue; }
  &[data-level="E"] { background-color: paleturquoise; }
  &[data-level="F"] { background-color: lightgray; }
  &[data-level="G"] { background-color: darkgray; }
}

.mark {
  bottom: 0px; // overwrote by style attr
  display: grid;
  height: 1em;
  left: 30px;
  margin-bottom: -0.5em;
  place-items: center;
  position: absolute;
  width: 1em;
}
