* {
  margin: 0;
}

details,
h1,
p,
table,
ul {
  margin-top: 1em;
}

body {
  background-color: var(--base-bg);
  color: var(--base-fg);
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--base-border-color);
  padding: 0.5em;
}

th {
  background-color: #666;
  color: #fff;
}

a {
  color: var(--link-fg);

  &:hover {
    color: var(--link-hover-fg);
  }
}

label {
  cursor: pointer;
}

button,
input,
select,
textarea {
  box-sizing: border-box;
  min-height: var(--clickable-height);
}
