// colors
:root {
  --base-bg: #fff;
  --base-fg: #333;
  --base-border-color: #ccc;
  --link-fg: #00c;
  --link-hover-fg: #c00;
  --theme-bg: #036;
  --theme-fg: #fff;
}

// sizes
:root {
  --clickable-height: 1.5rem;
  --font-medium: 1rem;
  --font-small: 0.8rem;
  --radius: 0.1rem;
  font-size: 16px;

  @media (pointer:coarse) {
    --clickable-height: 2.5rem;
  }
}
